#!/usr/bin/env ruby
preprocess do
  Preprocessor.configure(site)
end

compile /\#|flymake\.rb/ do
end
route /\#|flymake\.rb/ do
end

compile '/assets/*' do
end
compile '/wiki/year/*' do
end

compile '*' do
  extensions = item[:split_extensions]
  if item[:tmpl]
    extensions = extensions + [item[:tmpl]]
  end

  extensions.reverse_each do |ext|
    case ext
    when 'handlebars', 'hbs', 'hb'
      filter :configurable_handlebars
    when 'erb'
      filter :erubis
    when 'md', 'markdown'
      filter :redcarpet, {
        :options => {
          :no_intra_emphasis => true,
          :tables => true,
          :fenced_code_blocks => true,
          :autolink => true
        },
        :renderer_options => {
          :with_toc_data => item[:toc]
        }
      }
      filter :footnote
      filter :wikilink if item[:blog_name] == 'wiki'
      filter :nokogiri_build
      filter :pygments, :linenos => 'table'
      filter :latex_escape if item[:mathjax]
      filter :footnote_footer
      filter :nokogiri_write
    when 'html'
      page_layout = item[:page_layout] || item[:kind]
      page_layout = nil if item[:page_layout] == false
      layout page_layout if page_layout

      unless item[:layout] == false
        layout item[:layout] || 'default'
      end

      filter :toc if item[:toc]
      filter :external_link
    end
  end
end

route '/p1' do
  '/index.html'
end
route %r(^/p\d+/) do
  item.identifier + 'index.html'
end
route '/wiki/yaear/*' do
end

route '/wiki-*/' do
  item.identifier.sub(/wiki-/, 'wiki/').chomp('.') + 'index.html'
end

route '*' do
  extensions = item[:split_extensions]

  if extensions.first == 'html'
    if item[:pretty_path] == false
      [item.identifier.chop, item[:extension]].join('.')
    else
      item.identifier + 'index.html'
    end
  else
    target = [item.identifier.chop, item[:extension]].join('.')
    if item.identifier =~ %r{^/\d{4}/\d{2}/(.*)}
      '/gallery' + target
    else
      target.sub(/\.(?:erb|hb|hbs)$/, '')
    end
  end
end

layout '*', :erubis
