---
title: Tags
kind: archives
menu: wiki
site: wiki
changefreq: daily
priority: 0.9
breadcrumbs: ["/wiki/"]
---

<ul>
  <% site.blog(:wiki).tags.sort_by(&:first).each do |tag, page| %>
    <li itemscope itemtype="http://schema.org/Article">
      <a itemprop="url" href="<%= page.path %>">
        <span itemprop="name"><%= render_tag(tag) %> (<%= page[:page_items].size %>)</name>
      </a>
    </li>
  <% end %>
</ul>
