a.external
  .icon-external-link
    font-size: $baseFontSize * 0.6
    @include opacity(60)
    letter-spacing: 0.2em

h1 > a.external > .icon-external-link
  font-size: $baseFontSize * 2

.tooltip .icon
  font-size: 1.3em
