a.external
  .icon-external-link
    margin-left: 4px
    text-decoration: none
    font-size: 0.9em
  &.icon
    width: auto
    &:before
      padding-right: 4px
      text-decoration: none
      color: lighten($textColor, 30%)
