figure
  margin: ($line-height-computed/2) auto

  &.pull-left
    margin-right: $font-size-base
  &.pull-right
    margin-left: $font-size-base

figure, .thumbnail
  > figcaption
    text-align: center
    padding: 9px
    color: $gray

.code-caption
  +clearfix
  font-family: $font-family-monospace
  font-size: 0.875 * $font-size-base
  color: #666
  background-color: #EAEAEA
  padding: 0.5em
  // fallback for IE7-8
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,.15)
  margin-bottom: $line-height-computed / 2
  > .code-filename
    @extend .pull-right
    color: #666

pre, .highlight
  + .code-caption
    margin-top: - $line-height-computed / 2 - $border-radius-base

.highlighttable-container
  + .code-caption
    margin-top: - $line-height-computed - 1px
