.sidebar-widget.box
  > ol
    color: lighten($textColor, 25%)
  > ol a
    color: $textColor
  &:hover > ol a
    color: $linkColor
  > footer
    text-align: right
    @extend small
    padding-bottom: 3px
