// Base
//==================================================

h1
  font-size: 2.5 * $baseFontSize
  margin-bottom: 1.5 * $baseLineHeight

.center
  display: table

.rss > span
  display: none
@media (max-width: 979px)
  .rss > span
    display: inline

.icon-go-top
  border-top: 1px solid $textColor

blockquote p
  font-size: 18px
  font-weight: normal
  color: lighten($textColor, 20%)

kbd
  background-color: #dddddd
  background-image: -moz-linear-gradient(#f1f1f1, #ddd)
  background-image: -webkit-linear-gradient(#f1f1f1, #ddd)
  background-image: linear-gradient(#f1f1f1, #ddd)
  background-repeat: repeat-x
  border-radius: 2px
  border: 1px solid #ddd
  border-bottom-color: #ccc
  border-right-color: #ccc
  padding: 1px 4px
  font-family: $sansFontFamily

pre
  padding: 0.5em
  margin-top: $baseLineHeight - 6px
  margin-bottom: $baseLineHeight
