// Layout
// ==================================================

.rss > span
  display: none

#header .navbar-brand
  margin-left: -35px

.navbar-brand
  > i
    margin-right: 3px
    visibility: hidden
  &:hover > i
    visibility: visible
.navbar-form
  margin-right: -25px

#body
  padding-bottom: $line-height-computed

#sidebar
  padding-top: $line-height-computed

.breadcrumb
  margin: $line-height-computed 0 0

#footer
  padding: 2 * $line-height-computed 0 $line-height-computed

#disqus_thread
  margin: $line-height-computed 0

@media (max-width: $screen-sm)
  .rss > span
    display: inline
  .navbar-form
    margin-right: -10px
