// Layout
// ==================================================

.rss > span
  display: none

#header .navbar-brand
  padding: 11px 15px
  margin-left: -35px

.navbar-brand
  > i
    margin-right: 3px
    visibility: hidden
  &:hover > i
    visibility: visible
.navbar-form
  margin-right: -25px

#body
  padding-bottom: $line-height-computed

#sidebar
  padding-top: $line-height-computed

.breadcrumb
  margin: $line-height-computed 0 0

#footer
  padding: 2 * $line-height-computed 0 $line-height-computed

#disqus_thread
  margin: $line-height-computed 0

@media (max-width: $screen-sm)
  .rss > span
    display: inline
  .navbar-form
    margin-right: -10px

.without-sidebar
  #main-container, #sidebar
    float: none
    width: 100%
@media (min-width: $screen-md)
  .without-sidebar
    #main-container, #sidebar
      width: percentage((9 / $grid-columns))
    #sidebar
      margin-left: 0
@media (min-width: $screen-lg)
  .without-sidebar
    #main-container, #sidebar
      width: percentage((8 / $grid-columns))
    #sidebar
      margin-left: percentage((1 / $grid-columns))
