<% last_seen_year = nil %>
<% attr = defined?(date_attr) ? date_attr.to_sym : :created_at %>

<table class="table table-hover article-table-archives">
  <thead>
    <tr>
      <th class="article-date" colspan="2">Date</th>
      <th class="article-title">Title</th>
      <th class="article-tags">Tags</th>
    </tr>
  </thead>
  <tbody>
    <% archives.each do |article| %>
    <tr itemscope itemtype="http://schema.org/Article">
      <% if last_seen_year == article[attr].year %>
        <td class="article-year hide-text"><%= last_seen_year %></td>
      <% else %>
        <% last_seen_year = article[attr].year %>
        <td class="article-year"><%= last_seen_year %></td>
      <% end %>
      <td class="article-date"  itemprop="datePublished" content="<%== article[attr].strftime('%Y-%m-%d') %>">
        <%= article[attr].strftime('%b %e') %>
      </td>
      <td class="article-title">
        <a itemprop="url" href="<%== article.path %>">
          <span itemprop="name"><%= article.title %></span>
        </a>
      </td>
      <td class="article-tags" itemprop="keywords">
        <% article.tags.each do |tag| %>
          <%== link_to render_tag(tag), blog.tags[tag].path, :class => 'label label-default' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
