<table class="table table-hover article-table-archives">
  <thead>
    <tr>
      <th class="article-date" colspan="2">Date</th>
      <th class="article-title">Title</th>
      <th class="article-tags">Tags</th>
    </tr>
  </thead>
  <tbody>
    <% last_seen_year = nil %>
    <% archives.each do |article| %>
    <tr>
      <% if last_seen_year == article.date.year %>
        <td class="article-year hide-text"><%= last_seen_year %></td>
      <% else %>
        <% last_seen_year = article.date.year %>
        <td class="article-year"><%= last_seen_year %></td>
      <% end %>
      <td class="article-date">
        <%= article.date.strftime('%b %e') %>
      </td>
      <td class="article-title">
        <%== link_to article.title, article %>
      </td>
      <td class="article-tags">
        <% article.tags.each do |tag| %>
          <%== link_to render_tag(tag), blog.tags[tag].path, :class => 'label' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
