<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Articles</h3>
  </div>
  <div class="panel-body">
    <ol>
      <% site.blog.articles[0...10].each do |article| %>
      <li>
        <a href="<%= article.path %>"><%= article[:title] %></a>
        <small><%= article[:created_at].strftime('%b %e') %></span></small>
      </li>
      <% end %>
    </ol>
  </div>
</section>

<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Archives</h3>
  </div>
  <div class="panel-body">
    <ol>
      <% site.blog.calendar.each do |year, page| %>
        <li><a href="<%= page.path %>"><%= year %> (<%= page[:page_items].size %>)</a></li>
      <% end %>
    </ol>
  </div>
</section>

<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>
  <div class="panel-body">
    <ol>
      <% site.blog.tags.sort_by { |k,v| -v[:page_items].count }.first(10).each do |tag, page| %>
        <li><a href="<%= page.path %>"><%= render_tag(tag) %> (<%= page[:page_items].size %>)</a></li>
      <% end %>
    </ol>
    <footer>
      <a href="/tags/">See all tags &raquo;</a>
    </footer>
  </div>
</section>
