<article>
  <header>
    <hr/>
    <div class="article-meta">
      <i class="icon-calendar"></i>
      <span class="article-time"><%== link_to item[:created_at].strftime('%b %e, %Y'), item %></span>

      <% unless item[:tags].empty? %>
        <span class="muted">·</span>
        <i class="icon-tags"></i>
        <% item[:tags].each do |tag| %>
          <%== link_to render_tag(tag), site.blog.tags[tag].path, :class => 'label' %>
        <% end %>
      <% end %>
    </div>
    <% if item[:url] %>
      <h1><%== link_to item[:title], item[:url] %></h1>
    <% else %>
      <h1><%= item[:title] %></h1>
    <% end %>
  </header>

  <div class="article-content">
    <%== yield %>
  </div>

  <footer></footer>
</article>
