<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%== title_tag %>
    <meta name="description" content="<%= item[:description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%== stylesheet_link_tag 'style' %>
    <!--[if IE 7]>
      <%== stylesheet_link_tag 'ie7' %>
    <![endif]-->
    <%#= javascript_include_tag 'vendor/modernizr-2.6.1.min' %>

    <link rel="alternate" type="application/rss+xml" href="http://feeds.iany.me/ianyblog">
  </head>
  <body class="<%= body_class %>">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <header id="header">
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="<%= brand_path %>">
            <i class="icon-home"></i>~iany/<strong><%= item[:site] %></strong>
          </a>

          <div class="navbar-collapse collapse">
            <% if item[:sidebar] || item[:comment] %>
              <ul id="nav-skiplist" class="visible-xs navbar-nav nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">TOC <b class="caret"></b></a>
                  <% if item[:sidebar] && item[:toc] %>
                    <ul class="dropdown-menu toc-body">
                    </ul>
                  <% else %>
                    <ul class="dropdown-menu toc-body">
                      <li><%== link_to 'Content', '#content' %></li>
                      <% if item[:comment] %><li><%== link_to 'Comments', '#comments' %></li><% end %>
                      <% if item[:sidebar] %><li><%== link_to 'Sidebar', '#sidebar' %></li><% end %>
                    </ul>
                  <% end %>
                </li>
              </ul>                
            <% end %>

            <ul class="navbar-nav nav">
              <li<%== ' class="active"' if active_menu == :blog %>><%== link_to 'Blog', '/' %></li>
              <li<%== ' class="active"' if active_menu == :archives %>><%== link_to 'Archives', '/archives' %></li>
              <% if active_menu == :wiki %>
                <li class="active dropdown">
                  <a href="/wiki/" class="dropdown-toggle" data-toggle="dropdown">Wiki <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/wiki/">Home</a></li>
                    <li><a href="/wiki/tags/">Tags</a></li>
                    <li><a href="/wiki/sitemap/">Sitemap</a></li>
                  </ul>
                </li>
              <% else %>
                <li><%== link_to 'Wiki', '/wiki' %></li>
              <% end %>
              <li<%== ' class="active"' if active_menu == :about %>><%== link_to 'About', '/about' %></li>
            </ul>
            <form method="get" class="navbar-form navbar-right" action="http://www.google.com/cse">
              <input type="hidden" name="cx" value="006252023667590608831:yopsgewhz5y" />
              <input type="hidden" name="siteurl" value="www.google.com/cse/home?cx=006252023667590608831:yopsgewhz5y" />
              <input type="hidden" name="ie" value="UTF-8" />
              <div class="form-group">
                <input name="q" type="search" class="search-query form-control" placeholder="Search" />
              </div>
            </form>
            <ul class="navbar-nav nav navbar-right">
              <li>
                <a class="rss" href="http://feeds.iany.me/ianyblog">
                  <i class="icon-rss icon-large"></i>
                  <span>RSS</span>
                </a>
              </li>
            </ul>
          </div>
        </div> <!-- container -->
      </div>
    </header>

    <div id="body">
      <div class="container">
        <div class="row">
          <div id="main-container"
               class="<% if item[:sidebar] %>col-lg-offset-1 col-lg-7 col-sm-8<% end %>">
            <%== render 'partials/breadcrumbs' %>

            <div id="main" role="main">
              <%== yield %>
            </div>
            <% if item[:comment] %>
              <aside id="comments">
                <div id="disqus_thread">
                  <noscript>
                    <p class="dsq-brlink">
                      Please enable JavaScript to view the
                      <a href="http://disqus.com/?ref_noscript">
                        comments powered by <span class="logo-disqus">Disqus</span>.
                      </a>
                    </p>
                  </noscript>
                </div>
              </aside>
            <% end %>
          </div>

          <% if item[:sidebar] %>
            <aside id="sidebar" class="col-md-offset-1 col-md-3 col-sm-offset-0 col-sm-4">
              <div id="sidebar-toggle"></div>
              <% if item[:toc] %>
                <section class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-right">
                      <a class="accordion-toggle" data-toggle="collapse" href="#toc-panel">
                        TOC
                        <b class="caret"></b>
                      </a>
                    </h3>
                  </div>
                  <div id="toc-panel" class="panel-body panel-collapse collapse">
                    <ol class="toc-body"></ol>
                  </div>
                </section>
              <% end %>

              <% if item[:site] == 'wiki' %>
                <%== render 'partials/wiki_sidebar' %>
              <% else %>
                <%== render 'partials/blog_sidebar' %>
              <% end %>
            </aside>
          <% end %>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <p>Articles <strong>licensed</strong> under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>
            <p>Source: <a href="https://github.com/doitian/iany.me">doitian/iany.me</a></p>

            <h4>Contact</h4>
            <dl class="dl-horizontal">
              <dt><i class="icon-envelope"></i> Email:</dt>
              <dd><a href="mailto:me@iany.me">Ian Yang</a></dd>
              <dt><i class="icon-twitter"></i> Twitter:</dt>
              <dd><a href="http://twitter.com/doitian" class="no-icon">@doitian</a></dd>
            </dl>
          </div>
          <div class="col-xs-3">
            <p><a href="#"><i class="icon-arrow-up icon-go-top"></i> Back to top</a></p>
          </div>
          <div>
      </div>
    </footer>

    <%== javascript_include_tag 'vendor' %>
    <%== javascript_include_tag 'main' %>

    <script>
      // Google Analytics
      var _gaq=[['_setAccount','UA-27765865-1'],['_setDomainName','iany.me'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

      <% if item[:comment] %>
        var disqus_shortname = 'ianyblog';
        var disqus_identifier = '<%= item.path %>';
        var disqus_url = '<%= config[:base_url] %><%= item.path %>';

        if (!location.host.match(/iany\.me$/i)) {
          var disqus_developer = 1;
        }
        $(function() {
          $('#disqus_thread').append('<p class="dsq-brlink"><a href="http://disqus.com">blog comments powered by <span class="logo-disqus">Disqus</span></a></p>');
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          $('body').append(dsq);
        });
      <% end %>
    </script>

    <%== content_for(item, :body_bottom) %>

    <% if item[:mathjax] %>
      <script src="/assets/MathJax/MathJax.js?config=ianyme&delayStartupUntil=configured" defer>
      </script>
    <% end %>
  </body>
</html>
