<article>
  <header>
    <hr/>
    <% unless item[:tags].empty? %>
      <div class="article-meta">
        <i class="icon-tags"></i>
        <% item[:tags].each do |tag| %>
          <%== link_to render_tag(tag), site.blog.tags[tag].path, :class => 'label label-default' %>
        <% end %>
      </div>
    <% end %>
    <% unless item[:title].nil? || item[:title].empty? %>
      <h1><%== item[:title] %></h1>
    <% end %>
  </header>

  <div class="article-content">
    <%== yield %>
  </div>

  <footer></footer>
</article>

